<form [formGroup]="alertForm" (ngSubmit)="createAlert(alertForm)">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Configure alert</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field>
        <input matInput required formControlName="name" placeholder="Alert name" autocomplete="off">
      </mat-form-field>


      <div [formGroup]="alertForm.controls.elastic">
        <mat-form-field>
          <input matInput required formControlName="url" placeholder="URL (http://127.0.0.1:9200)" autocomplete="off"
                 [matAutocomplete]="autoUrl">
        </mat-form-field>
        <mat-autocomplete #autoUrl="matAutocomplete">
          <mat-option *ngFor="let elastic of elastics" [value]="elastic">
            {{ elastic }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field>
          <input matInput required formControlName="index" placeholder="Index" autocomplete="off"   [matAutocomplete]="autoIndex">
        </mat-form-field>
        <mat-autocomplete #autoIndex="matAutocomplete">
          <mat-option *ngFor="let index of indices" [value]="index">
            {{ index }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field>
          <input matInput required formControlName="type" placeholder="Type" autocomplete="off"   [matAutocomplete]="autoType">
        </mat-form-field>
        <mat-autocomplete #autoType="matAutocomplete">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type }}
          </mat-option>
        </mat-autocomplete>
      </div>

      <mat-form-field>
        <textarea matInput formControlName="query" placeholder="query" matTextareaAutosize matAutosizeMinRows="2"
                  matAutosizeMaxRows="50"></textarea>
      </mat-form-field>
      <!--<mat-form-field>-->
      <mat-radio-group matInput formControlName="match_type">
        <mat-radio-button value="once">Once</mat-radio-button>
        <mat-radio-button value="number">
          <mat-slider formControlName="match_frequency"></mat-slider>
          <mat-form-field>
            {{alertForm.controls.match_frequency.value}}

            <mat-select placeholder="Period" formControlName="match_period">
              <mat-option *ngFor="let p of selectValues" [value]="p.value">
                {{ p.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>


        </mat-radio-button>
      </mat-radio-group>
      <!--<textarea matInput formControlName="MatchOnce"  placeholder="query" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="50"></textarea>-->
      <!--</mat-form-field>-->
      <!--<mat-form-field>-->
      <!--<input type="hidden" formControlName="id">-->
      <!--</mat-form-field>-->

      <app-alert-target [group]="alertForm.controls.targets"></app-alert-target>

      <!--<div formArrayName="emails">-->
      <!--<mat-list>-->
      <!--<h3 mat-subheader>Emails</h3>-->
      <!--<mat-list-item *ngFor="let email of alertForm.controls.emails.controls; let i=index">-->
      <!--<mat-icon mat-list-icon>mail</mat-icon>-->
      <!--<div [formGroupName]="i">-->
      <!--<app-alert-recipient-email [group]="alertForm.controls.emails.controls[i]"></app-alert-recipient-email>-->
      <!--</div>-->
      <!--<div (click)="removeEmail(i)">-->
      <!--<mat-icon>delete</mat-icon>-->
      <!--</div>-->
      <!--</mat-list-item>-->
      <!--<mat-list-item>-->
      <!--<button type="button" mat-button (click)="addEmail()">-->
      <!--Add another email-->
      <!--<mat-icon mat-list-icon>add</mat-icon>-->
      <!--</button>-->
      <!--</mat-list-item>-->
      <!--<mat-divider></mat-divider>-->
      <!--</mat-list>-->
      <!--</div>-->
      <pre>{{alertForm.value|json}}</pre>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!alertForm.valid" color="primary">
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
