<div [formGroup]="alertForm">
  <div formArrayName="emails">
    <mat-list>
      <h3 mat-subheader>Emails</h3>
      <mat-list-item *ngFor="let email of alertForm.controls.emails.controls; let i=index">
        <mat-icon mat-list-icon>mail</mat-icon>
        <div [formGroupName]="i">
          <app-alert-recipient-email [group]="alertForm.controls.emails.controls[i]"></app-alert-recipient-email>
        </div>
        <div (click)="removeEmail(i)">
          <mat-icon>delete</mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item>
        <button type="button" mat-button (click)="addEmail()">
          Add another email
          <mat-icon mat-list-icon>add</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>
